

/* section_8 */
.section_8 {
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 0px;
    background: #010101;
    margin-top: 80px;
}

p.f_text_1 {
    color: #FFF;
    font-size: 37px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 28px;
    line-height: 1.2;
}

.f_text_2 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 40px;
    color: #828A99;
}

.faq_box a {
    justify-content: left;
    gap: 8px;
    display: flex;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    align-items: center;
    color: #A9FF7E;
}


.section_8 .accordion-button {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    width: 100%;
    text-align: left;
    background: no-repeat;
    border: none;
    color: #fff;
    padding-left: 0px;
}

.section_8 .accordion-item {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #454545 !important;
    background: no-repeat;
    border: none;
    border-radius: 0px;
}

.section_8 .accordion-header {
    margin: 0px;
    position: relative;
    line-height: 19px;
}

.section_8 .accordion-body {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin-top: 12px;
    color: #828A99;
    line-height: 1.4;
    padding: 10px 0px;
}

.section_8 .accordion-button::before {
    background: url(../../asets/img/ar1.svg) !important;
}

.section_8 .collapsed span {
    position: absolute;
    right: 0px;
    top: 5px;
    rotate: 179deg !important;
}

.section_8 .accordion-button span {
    rotate: 360deg;
    position: absolute;
    right: 0px;
    top: 5px;
}

.accordion-button:not(.collapsed)::after {
    display: none !important;
}

.accordion-button::after {
    display: none !important;
}

/* section_8 */


@media only screen and (max-width: 767px) {
    .section_text {
        width: 100%;
        font-size: 16px;
        margin: auto;
        position: relative;
        z-index: 9;
        text-align: center;
        line-height: 1.4;
    }

    .animation_2 {
        display: none;
    }

    .browser_btn {
        display: flex;
        gap: 10px;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 9;
    }

    .animation_1 {

        right: 0%;
        left: -56%;
        z-index: 9;
        bottom: -27px;
    }

    .browser_btn a:nth-child(1) {
        font-size: 15px;
    }

    .browser_btn a:nth-child(2) {
        margin-top: 10px;
        font-size: 15px;
    }

    .section_text_2 {
      
        font-size: 25px;
        width: 100%;
        line-height: 1.4;
    }

    .container {
        width: 90%;
    }

    .text_p1 {
        font-size: 22px;
        margin-bottom: 42px;
    }

    .ribbit_box {
        padding: 20px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .bx_text_1 {
        font-size: 22px;
        margin-bottom: 0px;
    }

    .bx_text_2 {
        font-size: 15px;
    }

    .card_gif {
        position: inherit;

    }

    .view_btn a {
        font-size: 18px;
    }

    .section_5 .col-lg-5 {
        order: 2;
    }

    .track_text_1 {
        font-size: 22px;
        line-height: 1.5;
        margin-bottom: 0px;
    }

    .track_text_2 {
        font-size: 18px;
        line-height: 1.5;
    }

    .trck_text a {
        margin-bottom: 30px;
    }
    .trck_text a {
       
        font-size: 16px;
        height: 56px;
        padding: 0px 18px;
    }
    .trck_text_img img{height: 300px;}
    section.section_5{    border-radius: 0px;}
    .section_8 {
        padding-top: 40px;
        padding-bottom: 40px;
        border-radius: 0px;
        background:#010101;
      
    }
    .f_text_2{    margin-bottom: 20px;}
    p.f_text_1{    font-size: 25px;       margin-bottom: 10px;   line-height: 1.4;}
    .mobile_img img{          height: auto;
        max-width: 70% !important;}
    
  .bc_1{width: 100%;}
  img{max-width: 100%;}
  .bc_3 {width: 77%;
    left: 0px;
    right: 0px;
    margin:
auto;}
    .bc_2{width: 100%;left: 0px;}
}