/* section_1  */
.section_top {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding-bottom: 50px;
}
.section_1 {
    background:url(../../asets/img/bg_2.gif) #000;
    height: 721px;
    display: flex;
    align-items: center;
    position: relative;
    background-size: 100% 100%;
}

.bc_1 {
    border-radius: 525.59px;
    opacity: 0.7;
    background: var(--Color-2, #4B9B43);
    filter: blur(167px);
    width: 525.59px;
    height: 420.636px;
    float: right;
    position: absolute;
    right: 0px;
    top: 0px;
}

.bc_2 {
    border-radius: 525.59px;
    opacity: 0.7;
    background: #4B9B43;
    filter: blur(167px);
    width: 291px;
    height: 193px;
    float: right;
    position: absolute;
    top: 62px;
    left: 41%;
}

.bc_2 {
    border-radius: 525.59px;
    opacity: 0.7;
    background: #4B9B43;
    filter: blur(167px);
    width: 291px;
    height: 193px;
    float: right;
    position: absolute;
    top: 62px;
    left: 41%;
}

.bc_3 {
    width: 683.852px;
    height: 278.498px;
    transform: rotate(9.555deg);
    border-radius: 683.852px;
    opacity: 0.26;
    background: #4B9B43;
    filter: blur(167px);
    top: -24px;
    position: absolute;

}


.section_text {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    color: #fff;
    width: 75%;
    margin: auto;
    text-align: center;
    line-height: 54px;
}

.browser_btn {
    display: flex;
    gap: 34px;
    justify-content: center;
}

.browser_btn a:nth-child(1) {
    border-radius: 14px;
    background: #A9FF7E;
    padding: 20px;
    color: #0F0F20;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-top: 30px;
}
.browser_btn a:hover:nth-child(2) {background: #A9FF7E; color: #000;}
.browser_btn a:nth-child(2) {
    border-radius: 14px;
    border: 1px solid #A9FF7E;
    padding: 20px;
    color: #A9FF7E;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-top: 30px;
}

.animation_1 {
    position: absolute;
    bottom: -16%;
    rotate: 93deg;
    right: 0%;
    left: -12%;
    z-index: 9;
}

.animation_2 {
    position: absolute;
    top: 1%;
    rotate: 9deg;
    right: -8%;
    z-index: 9;
}

/* section_1  */



/* section_4 */
.section_text_2 {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    width: 80%;
    margin: auto;
    color: #fff;
}
.section_4 {
    background: #000;
    padding-bottom: 80px;
    padding-top: 60px;
}
.ch1 {
    top: 98px;
}
.ribbit_box {
    margin-top: 50px;
    border-radius: 30px;
    border: 2px solid #272626;
    background: #000;
    padding: 40px;
    height: 308px;
    position: relative;
    display: flex;
    gap: 30px;
}

.bx_text_1 {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    color: #fff;
    line-height: 40px;
    margin-bottom: 10px;

}

.bx_text_2 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
    color: #828A99;
}
.pow_1{    flex-wrap: wrap;}
/* .pow_1 .ribbit_box_img {
    margin-bottom: 34px;
} */

.ribbit_box_text {
    position: relative;
    z-index: 99;
}

.coin_img {
    position: absolute;
    right: 129px;
    bottom: 0px;
}

.view_btn a {
    border-radius: 12px;
    background: #A9FF7E;
    padding: 24px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    color: #000;
}

.view_btn {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 70px;
}
.section_new_5 .ribbit_box_img{margin-bottom: 0px;     height: 90px;}
/* section_4 */


/* section_5 */
section.section_5 {
    border-radius: 40px;
    background: #181818;
    padding-top: 80px;

}

.track_text_1 {
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
    color: #fff;
}

.track_text_2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    color: #828A99;
}

.trck_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.trck_text a {
    border-radius: 13.982px;
    background: #A9FF7E;
    color: #0F0F20;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 65px;
    padding: 0px 24px;
    margin-top: 14px;
}

/* section_5 */

/* section_6 */
section.section_6 {
    background: #000;
    padding-top: 80px;
    padding-bottom: 80px;
}



.keys_box {
    border-radius: 24px;
    border: 2px solid #272626;
    padding: 28px 32px;
    gap: 20px;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    height: 270px;
    justify-content: center;
}

.k_text_2 {
    margin-bottom: 0px;
    font-size: 12px;
    font-style: normal;
    color: #828A99;
    font-weight: 400;
    line-height: 18px;
}

.k_text_1 {
    margin-bottom: 0px;
    font-size: 24px;
    font-style: normal;
    color: #FFF;
    font-weight: 400;
    line-height: 30px;
}

/* section_6 */



/* section_8 */
.section_8 {
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 40px;
    background: #181818;
    margin-top: 80px;
}
p.f_text_1 {
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 28px;
    line-height: 1.2;
}
.f_text_2 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 40px;
    color:#828A99;
}
.faq_box a{
    justify-content: left;
    gap: 8px;
    display: flex;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    align-items: center;
    color: #A9FF7E;
}
.section_8 .accordion-button {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    width: 100%;
    text-align: left;
    background: no-repeat;
    border: none;
    color: #fff;
    padding-left: 0px;
}
.section_8 .accordion-item {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #454545 !important;
    background: no-repeat;
    border: none;
    border-radius: 0px;
}
.section_8 .accordion-header {
    margin: 0px;
    position: relative;
    line-height: 19px;
}
.section_8 .accordion-body {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin-top: 12px;
    color: #828A99;
    line-height: 1.4;
    padding: 10px 0px;
}
.section_8 .accordion-button::before{background: url(../../asets/img/ar1.svg) !important;}
.section_8 .collapsed span{
    position: absolute;
    right: 0px;
    top: 5px;
    rotate: 179deg !important;
}
.section_8 .accordion-button span{
    rotate: 360deg;
    position: absolute;
    right: 0px;
    top: 5px;
}
.accordion-button:not(.collapsed)::after{display: none !important;}
.accordion-button::after{display: none !important;}
/* section_8 */